app_env: local
app_name: auth_api
server_port: 8080

db_host: db
db_port: 5432
db_name: auth
db_user: postgres
db_password: fortestpwd

redis_addr: "redis:6379"
redis_password:
redis_db: 0

activate_auth:
  public_key:
  private_key:
  issuer:
  expire:
  refresh_expire:

login_auth:
  public_key:
  private_key:
    issuer:
    expire:

email:
  host:
  port:
  is_ssl:
  user_name:
  password:
  from:

queue:
  mail_queue:
    redis_db: 0
    worker_count: 2
