app_env: local
app_name: auth_api
server_port: 8080

db_host: db
#dbhost: 127.0.0.1
db_port: 5432
#dbport: 45487
db_name: auth
db_user: postgres
db_password: fortestpwd

redis_addr: "redis:6379"
redis_password:
redis_db:

email:
  host:
  port:
  is_ssl:
  user_name:
  password:

queue:
  mail_queue:
    redis_db: 0
    worker_count: 2
